<!DOCTYPE html>
<!-- 天安門事件 -->
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv='X-UA-Compatible' content='IE=9'>
    <meta name="generator" content="Vim">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <title><%= current_article.title + ' | ' unless current_article.nil? %>Blog Title</title>
    <%= stylesheet_link_tag 'reset' %>
    <%= javascript_include_tag "skel.min" %>
    <%= javascript_include_tag "main" %>

    <noscript>
      <%= stylesheet_link_tag 'skel-noscript' %>
      <%= stylesheet_link_tag 'style' %>
      <%= stylesheet_link_tag 'style-narrow' %>
    </noscript>

    <%= stylesheet_link_tag 'font-awesome' %>
    <%= stylesheet_link_tag 'syntax' %>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
  </head>

  <body>
    <div class="header">
      <div class="container">
        <div class="row">
          <div class="4u title">
            <h1 class="title-text"><a href="/">Blog Title</a></h1>
            <!-- menu toggle for mobile pages -->
            <label for="nav-toggle" class="toggle-button"><i class="fa fa-list-ul"></i></label>
          </div>
          <input type="checkbox" id="nav-toggle" class="toggle-checkbox"/>
          <nav id="nav" class="8u nav-top">
            <ul>
              <li><a href="/about"><i class="fa fa-info-circle"></i> <span>About</span></a></li>
              <li><a href="/profile"><i class="fa fa-user"></i> <span>Profile</span></a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>

    <div class="main">
      <div class="container">
        <div class="row">
          <%= yield %>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="container">
        <footer>
          <p>Copyright &copy; 2014 Tosainu.</p>
        </footer>
      </div>
    </div>

  </body>
</html>
