<% wrap_layout :default do %>
  <div id="content" class="9u">
    <article class="entry">
      <header>
        <h1><%= link_to current_article.title, current_article %></h1>
        <ul class="inline">
          <li><i class="fa fa-calendar"></i> <%= current_article.date.strftime('%Y-%m-%d %X') %></li>
        </ul>
      </header>

      <div class="text">
        <%= yield %>
      </div>

      <%= partial "share" %>

      <%= disqus %>
    </article>

    <div class="pagination">
      <div class="prev">
        <% if current_article.next_article %>
          <span><%= link_to '&laquo; Newer', current_article.next_article %></span>
        <% end %>
      </div>
      <div class="next">
        <% if current_article.previous_article %>
          <span><%= link_to 'Older &raquo;', current_article.previous_article %></span>
        <% end %>
      </div>
    </div>
  </div>

  <%= partial "sidebar" %>
<% end %>
