---
import Avatar from '@/images/avatar.svg';
import Base from '@/layouts/Base.astro';
import * as Config from '@/config';

import { BriefcaseBusiness, Cake, ChevronRight, Github, Instagram, Mail, MapPin, Star, Twitter, UserRound } from 'lucide-preact';
---

<style>
  body {
    @apply h-screen font-['Raleway'];
  }

  @keyframes avatar-fade-in {
    0% {
      opacity: 0;
      transform: scale(0);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
</style>

<Base pageTitle={Config.site.title} lang={Config.site.lang} description={Config.site.description}>
  <header class="relative h-screen bg-darkgray">
    <nav class="container absolute inset-x-0 top-4 z-50 mx-auto pr-2 text-right text-lg font-semibold text-white">
      {
        Config.links.map(({ name, url }) => (
          <>
            <a class="ml-4 px-1 pb-1 hover:border-b-2" href={url}>
              <span>{name}</span>
              <ChevronRight class="inline-block align-text-bottom" />
            </a>
          </>
        ))
      }
    </nav>

    <div class="absolute inset-0 flex flex-col items-center justify-center">
      <Avatar class="mb-2.5 h-44 w-44 animate-[avatar-fade-in_0.4s_ease-in] rounded-full border-[5px] border-white" />
      <h1 class="mb-6 text-4xl font-semibold leading-loose text-white">{Config.author.nickname}</h1>
      <div class="flex w-full max-w-sm justify-around">
        <a href={`https://twitter.com/intent/user?user_id=${Config.author.social.twitterId}`} class="group flex size-14 items-center justify-center rounded-xl hover:bg-white active:bg-white" title="Twitter" target="_blank" rel="nofollow noopener">
          <Twitter size={42} strokeWidth={2.25} class="stroke-white group-hover:stroke-darkgray group-active:stroke-darkgray" />
        </a>
        <a href={`https://github.com/${Config.author.social.github}`} class="group flex size-14 items-center justify-center rounded-xl hover:bg-white active:bg-white" title="GitHub" target="_blank" rel="nofollow noopener">
          <Github size={42} strokeWidth={2.25} class="stroke-white group-hover:stroke-darkgray group-active:stroke-darkgray" />
        </a>
        <a href={`https://www.instagram.com/${Config.author.social.instagram}`} class="group flex size-14 items-center justify-center rounded-xl hover:bg-white active:bg-white" title="Instagram" target="_blank" rel="nofollow noopener">
          <Instagram size={42} strokeWidth={2.25} class="stroke-white group-hover:stroke-darkgray group-active:stroke-darkgray" />
        </a>
        <a href={`mailto:${Config.author.social.email}`} class="group flex size-14 items-center justify-center rounded-xl hover:bg-white active:bg-white" title="Mail" target="_blank" rel="nofollow noopener">
          <Mail size={42} strokeWidth={2.25} class="stroke-white group-hover:stroke-darkgray group-active:stroke-darkgray" />
        </a>
      </div>
    </div>
  </header>
  <section class="bg-gray-50 py-24 leading-loose text-darkgray">
    <div class="container mx-auto px-2">
      <h2 class="mb-8 text-3xl font-semibold">About Me</h2>
      <dl class="grid grid-cols-[2rem_1fr]">
        <dt class="text-center">
          <UserRound class="inline-block align-text-bottom" />
        </dt>
        <dd>{Config.author.name} ({Config.author.nickname})</dd>
        <dt class="text-center">
          <MapPin class="inline-block align-text-bottom" />
        </dt>
        <dd>{Config.author.location}</dd>
        <dt class="text-center">
          <Cake class="inline-block align-text-bottom" />
        </dt>
        <dd>{Config.author.birthday}</dd>
        <dt class="text-center">
          <BriefcaseBusiness class="inline-block align-text-bottom" />
        </dt>
        <dd>{Config.author.job}</dd>
        <dt class="text-center">
          <Star class="inline-block align-text-bottom" />
        </dt>
        <dd>
          {Config.author.interests.map((i) => <span class="whitespace-nowrap after:whitespace-normal after:content-[',_'] last:after:content-none">{i}</span>)}
        </dd>
      </dl>
    </div>
  </section>
  <section class="py-24 leading-loose text-darkgray">
    <div class="container mx-auto px-2">
      <h2 class="mb-8 text-3xl font-semibold">Works</h2>
      <div class="grid gap-x-8 gap-y-4 xl:grid-cols-2">
        {
          Config.authorWorks.map(({ description, imageUrl, name, url }) => (
            <>
              <a href={url} target="_blank" rel="nofollow noopener">
                <div class="group relative h-64 overflow-hidden border border-gray-400 bg-cover bg-center bg-no-repeat hover:border-sky-700 hover:brightness-110 md:h-80" style={`background-image: url(${imageUrl})`}>
                  <div class="absolute bottom-0 left-0 w-full bg-black/60 px-4 py-2 backdrop-blur-md transition">
                    <h3 class="text-lg font-semibold text-white group-hover:underline">{name}</h3>
                    <span class="text-sm text-white">{description}</span>
                  </div>
                </div>
              </a>
            </>
          ))
        }
      </div>
    </div>
  </section>
  <footer class="py-8 leading-8 text-darkgray">
    <div class="container mx-auto px-2 text-right text-sm">
      {Config.site.footer} Site generated by <a class="text-sky-700 underline" href="https://astro.build/">{Astro.generator}</a>.
    </div>
  </footer>
</Base>
