---
import LinkToTagPage from '@/components/LinkToTagPage.astro';

import { Calendar, Tag } from 'lucide-preact';

import type { CollectionEntry } from 'astro:content';

export interface Props {
  post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;
const [year, month, day, _] = post.slug.split('/');
const data = { ...post.data, date: `${year}/${month}/${day}` };
---

<section class="mb-4">
  <a class="mb-1 inline-block text-lg text-sky-700 underline" href={`/blog/${post.slug}/`}>
    <h2>{data.title}</h2>
  </a>
  <div class="flex flex-row items-center text-sm">
    <Calendar />
    <span class="ml-2">{data.date}</span>
    {
      data.tags.length > 0 && (
        <>
          <Tag class="ml-4" />
          {data.tags.map((t) => (
            <span class="ml-2">
              <LinkToTagPage tag={t} />
            </span>
          ))}
        </>
      )
    }
  </div>
</section>
