---
layout: default
pageable: true
per_page: 3
---
<div id="content" class="9u">
  <p class="well">Archive for <strong>
    <% case page_type when 'day' %>
      <%= Date.new(year, month, day).strftime('%Y-%m-%d') %>
    <% when 'month' %>
      <%= Date.new(year, month, 1).strftime('%b %Y') %>
    <% when 'year' %>
      <%= year %>
    <% end %>
  </strong>.</p>

  <% page_articles.each_with_index do |article, i| %>
    <article class="entry">
      <header>
        <h1><%= link_to article.title, article %></h1>
        <ul class="inline">
          <li><i class="fa fa-calendar"></i> <%= article.date.strftime('%Y-%m-%d %X') %></li>
        </ul>
      </header>

      <div class="text">
        <%= article.body %>
      </div>
    </article>
  <% end %>

  <% if paginate && num_pages > 1 %>
    <div class="pagination">
      <div class="prev">
        <% if prev_page && page_number > 1 %>
          <span><%= link_to '&laquo; Newer', prev_page %></span>
        <% end %>
      </div>
      <div class="next">
        <% if next_page && page_number < num_pages %>
          <span><%= link_to 'Older &raquo;', next_page %></span>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<%= partial "sidebar" %>
