---
layout: default
pageable: true
---
<div id="content" class="9u">
  <p class="well">Archive for <strong>
    <% case page_type when 'day' %>
      <%= Date.new(year, month, day).strftime('%Y-%m-%d') %>
    <% when 'month' %>
      <%= Date.new(year, month, 1).strftime('%b %Y') %>
    <% when 'year' %>
      <%= year %>
    <% end %>
  </strong>.</p>

  <% page_articles.each_with_index do |article, i| %>
    <article class="entry">
      <header>
        <h1><%= link_to article.title, article %></h1>
        <ul class="inline">
          <li><i class="fa fa-calendar"></i> <%= article.date.strftime('%Y-%m-%d') %></li>
        </ul>
      </header>

      <div class="text">
        <%= article.body %>
      </div>
    </article>
  <% end %>

  <div class="pagination">
    <ul>
      <% if paginate && num_pages > 1 %>
        <% if prev_page %>
          <li><%= link_to 'Previous page', prev_page %></li>
        <% end %>
      <% end %>

      <% if paginate %>
        <% if next_page %>
          <li><%= link_to 'Next page', next_page %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

<%= partial "sidebar" %>
