---
layout: default
pageable: true
per_page: 12
---
<div id="content" class="9u">
  <p class="well">Articles tagged <strong><%= tagname %></strong>.</p>

  <% page_articles.each_with_index do |article, i| %>
    <article class="entry">
      <header>
        <h1><%= link_to article.title, article %></h1>
        <ul class="inline">
          <li><i class="fa fa-calendar"></i> <%= article.date.strftime('%Y-%m-%d') %></li>
        </ul>
      </header>

      <div class="text">
        <%= article.body %>
      </div>
    </article>
  <% end %>

  <div class="pagination">
    <ul>
      <% if paginate && num_pages > 1 %>
        <% if prev_page %>
          <li><%= link_to 'Previous page', prev_page %></li>
        <% end %>
      <% end %>

      <% if paginate %>
        <% if next_page %>
          <li><%= link_to 'Next page', next_page %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

<%= partial "sidebar" %>
