---
title: About
---
<% wrap_layout :default do %>
  <h1><%= link_to data.site.author.name, '/about' %></h1>

  <div id="content" class="4u">
    <p class="avatar"><img src="<%= data.site.author.avatar %>" alt=""></p>

    <section>
      <h2>Detail</h2>

      <dl>
        <dt>職業？</dt>
        <dd>出遅れ過ぎた情報系学生</dd>

        <dt>住んでるところ</dt>
        <dd>愛知県豊橋市</dd>
      </dl>
    </section>

    <section>
      <h2>Link</h2>

      <dl>
        <% if data.site.author.twitter.present? %>
          <dt><i class="fa fa-twitter"></i> Twitter</dt>
          <dd><%= link_to "@#{data.site.author.twitter}", "https://twitter.com/#{data.site.author.twitter}" %></dd>
        <% end %>

        <% if data.site.author.github.present? %>
          <dt><i class="fa fa-github-square"></i> GitHub</dt>
          <dd><%= link_to "#{data.site.author.github}", "https://github.com/#{data.site.author.github}" %></dd>
        <% end %>

        <% if data.site.author.bitbucket.present? %>
          <dt><i class="fa fa-bitbucket"></i> Bitbucket</dt>
          <dd><%= link_to "#{data.site.author.bitbucket}", "https://bitbucket.org/#{data.site.author.bitbucket}" %></dd>
        <% end %>

        <% if data.site.author.youtube.present? %>
          <dt><i class="fa fa-youtube"></i> YouTube</dt>
          <dd><%= link_to "#{data.site.author.youtube}", "http://www.youtube.com/user/#{data.site.author.youtube}" %></dd>
        <% end %>

        <% if data.site.author.flickr.present? %>
          <dt><i class="fa fa-flickr"></i> Flickr</dt>
          <dd><%= link_to "#{data.site.author.flickr}", "https://www.flickr.com/photos/#{data.site.author.flickr}" %></dd>
        <% end %>

        <% if data.site.author.amazon.present? %>
          <dt><i class="fa fa-gift"></i> Amazon</dt>
          <dd><%= link_to "Wishlist", "http://www.amazon.co.jp/registry/wishlist/#{data.site.author.amazon}" %></dd>
        <% end %>
      </dl>
    </section>
  </div>

  <div id="content" class="8u">
    <section>
      <h2>Hobby</h2>

      <dl>
        <dt>Programming</dt>
        <dd>C++書けるようになりたい. RubyやJavaScriptにも興味あり</dd>

        <dt>Android端末</dt>
        <dd>Xperia 2011愛してる <i class="fa fa-arrow-right"></i> <a title="Xperia2011年モデル改造まと" href="http://tosainu.wktk.so/page/xperiahack">Xperia2011年モデル改造まとめ</a></dd>

        <dt>ネットワーク機器/サーバ管理</dt>
        <dd>趣味でいろいろサーバを扱うことになりました</dd>
      </dl>
    </section>

    <section>
      <h2>Like</h2>

      <ul>
        <li>Linux (好きなディストリはArchLinuxやRHEL系など)</li>
        <li>Android</li>
        <li>Intel Sandy Bridge Microarchitecture</li>
        <li>Sony Vaio</li>
      </ul>
    </section>

    <section>
      <h2>Dislike</h2>

      <ul>
        <li>Micro$oftとその製品</li>
        <li>Wine (非Win環境で無理矢理Winアプリを動かそうとするProject)</li>
        <li>日本語</li>
        <li>マルチバイト文字</li>
      </ul>
    </section>

    <section>
      <h2>Work setup</h2>

      <dl>
        <dt>PC / Server</dt>
        <dd>Vaio Z 2012, 自作機, ConoHa VPS. だいたいArchLinuxが入ってる</dd>

        <dt>Editor</dt>
        <dd>Vim</dd>

        <dt>Blowser</dt>
        <dd>Chromium</dd>

        <dt>Photo Editor</dt>
        <dd>GIMP, RawTherapee</dd>

        <dt>Camera</dt>
        <dd>Canon S110</dd>

        <dt>BGM</dt>
        <dd>いろいろ聴く. EDM, Dubstepだとか激しめなものや東方アレンジなんかも</dd>
      </dl>
    </section>
  </div>
<% end %>
